<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/style.css" rel="stylesheet" />
    <title>JMSearch</title>
</head>
<body>
    <div>
        @if (Model.DisplayLogInActions)
        {
            <div style="position:absolute; top:1em; right:1em;">
                @if (Model.IsConnected)
                {
                    <a asp-route-disconnect="true" style="vertical-align:middle;">Se déconnecter</a>
                    <a asp-page="Account" style="vertical-align:middle;">JM+</a>
                }
                else
                {
                    <a asp-page="Login" style="vertical-align:middle;">JM+</a>
                }
                <img src="~/images/logo.png" style="width:50px;" />
            </div>
        }

        @RenderBody()
    </div>
    @if (ViewData["JMHelp"] != null)
    {
        <script>
            var player = document.querySelector('#audioPlayer');
            player.play();

        </script>
    }

    @if (ViewData["DocumentScript"] != null)
    {
        <script>
            var elem = document.getElementById('rechercheOK').textContent;
            console.log(elem);
            window.find(elem);
           
        </script>
    }
</body>
</html>
