@page
@model IndexModel

<div class="center">
    <img src="~/images/logo.png" style="width:150px;"/>
    <h1 style="font-weight: bold; display: inline-block; vertical-align:middle; font-size:3em;"><span style="color:greenyellow;">J</span><span style="color:blue;">M</span><span style="color:orangered;">S</span>earch</h1>
    <form method="post" asp-page="/Results">
        <input placeholder="Rechercher..." type="search" name="keyWord" autofocus />
        <div style="margin-top:1em;">
            <input type="submit" value="Rechercher" />
            <input type="submit" name="JMHelp" value="Aide moi JM !" />
        </div>
    </form>
</div>
