@page
@model IndexModel

<h1 style="font-family: 'Comic Sans MS'; font-weight: bold; text-align:center; margin-top:50vh;">JMSearch</h1>

<form method="post" asp-page="/Results" style="text-align:center;">
    <input placeholder="Rechercher..." type="search" name="keyWord" autofocus/>
</form>

