@page
@model JMSearch.Client.Pages.LoginModel

<div class="center">
    <form method="post" asp-page="/Login">
        <input placeholder="Pseudo" type="text" name="pseudo" autofocus />
        <input placeholder="Mot de passe" type="password" name="password" autofocus />
        <div style="margin-top:1em;">
            <input type="submit" name="subscribe" value="S'inscrire" />
            <input type="submit" name="connect" value="Se connecter" />
        </div>
    </form>
</div>