@page
@model JMSearch.Client.Pages.ResultInfosModel

<h2>Résultat de la recherche</h2>
<div>
    <iframe src="@Model.URLDocumentAPI@Model.DocumentName" class="iframeStyle" id="iframeID"></iframe>
</div>





