@page
@model JMSearch.Client.Pages.ResultInfosModel

<div id="iframeContainer" style="width: 100%; height: 100%; overflow: auto;">
    <iframe style="width:100%; height:60000px;" src="@Model.URLDocumentAPI@Model.DocumentName" scrolling="no"></iframe>
</div>





